#category-menu .category-content {
    display: none;
}

i.fa-angle-down {
    float: right;
    font-size: 0.8em;
    margin-left: -5px;
    margin-right: 5px;
    padding-right: 25px;
    padding-top: 7px;
    transition: transform 0.3s;
}

.category-title.active i.fa-angle-down {
    transform: rotate(180deg);
}

.category-title {
    text-align: center;
    
}