    .nav {
        position: fixed;
        background: linear-gradient(to right, #381e0e, #FFA700, #ffb223, #FFA700, #381e0e);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 60px;
        z-index: 0;
    }
    /* #391D0C, #482611, #863E15, #F2CF0D, #F8B430 */
    
    .nav,
    .nav .nav-links {
        display: flex;
        align-items: center;
    }
    
    .nav {
        justify-content: space-between;
        z-index: 1;
    }
    
    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    .nav .logo {
        font-size: 30px;
        margin-right: 10px;
        font-weight: 500;
    }
    
    .nav .nav-links {
        column-gap: 20px;
        list-style: none;
    }
    
    .nav .nav-links a {
        transition: all 0.2s linear;
    }
    
    .nav.openSearch .nav-links a {
        opacity: 0;
        pointer-events: none;
    }
    
    .nav .search-icon {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        position: right;
    }
    
    .nav .search-box {
        position: absolute;
        right: 250px;
        height: 45px;
        max-width: 555px;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s linear;
    }
    
    .nav.openSearch .search-box {
        opacity: 1;
        pointer-events: auto;
    }
    
    .search-box .search-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        left: 15px;
        color: #4a98f7;
        transform: translateY(-50%);
    }
    
    .search-box input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 6px;
        background-color: #fff;
        padding: 0 15px 0 45px;
    }
    
    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: none;
    }
    /* responsive */
    
    @media screen and (max-width: 1160px) {
        .nav {
            padding: 15px 100px;
        }
        .nav .search-box {
            right: 150px;
        }
    }
    
    @media screen and (max-width: 950px) {
        .nav {
            padding: 15px 50px;
        }
        .nav .search-box {
            right: 100px;
            max-width: 400px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .nav .navOpenBtn,
        .nav .navCloseBtn {
            display: block;
        }
        .nav {
            padding: 15px 20px;
        }
        nav {
            background-color: 613318;
            display: flex;
            /* this will make the navbar stay in the same place even when you scroll */
            top: 0;
            /* this will make the navbar stick to the top of the screen */
            left: 0;
            /* this will make the navbar stick to the left side of the screen */
            width: 100%;
            /* this will make the navbar span the full width of the screen */
            z-index: 2;
        }
        .nav .nav-links {
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            max-width: 280px;
            width: 100%;
            padding-top: 100px;
            row-gap: 30px;
            flex-direction: column;
            background-color: #000000;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.4s ease;
            z-index: 100;
        }
        .nav.openNav .nav-links {
            left: 0;
        }
        .nav .navOpenBtn {
            color: #613318;
            font-size: 20px;
            cursor: pointer;
        }
        .nav .navCloseBtn {
            position: absolute;
            top: 20px;
            right: 20px;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
        }
        .nav .search-box {
            top: calc(100% + 10px);
            max-width: calc(100% - 20px);
            right: 50%;
            transform: translateX(50%);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        nav li {
            float: right;
        }
        nav a {
            display: block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 10px 10px;
            text-decoration: none;
        }
        .nav .logo {
            font-size: 30px;
            margin-right: 100px;
            font-weight: 500;
            position:relative;
            left:100px
        }
    }