.search {
    background-color: #ffcc00;
    color: #613318;
    text-align: center;
    padding: 20px;
    position: center;
}

#search-form {
    position: right;
    left: 100px;
}

#search-button {
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}

#search-input {
    width: 150px;
    padding: 5px;
    font-size: 14px;
    margin-right: 5px;
}