/* Google Fonts - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.input-box {
    position: relative;
    height: 35px;
    max-width: 900px;
    width: 750px;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 10px;
    font-size: 20px;
    color: #707070;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
    position: relative;
}

.input-box .button {
    border: none;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    cursor: pointer;
    right: 0px;
}

.input-box .button:active {
    transform: translateY(-50%) scale(0.98);
}


/* Responsive */

@media screen and (max-width: 500px) {
    .input-box {
        margin: 0 8px;
        height: -webkit-fill-available;
        width: 240px
        
        
        
    }
    .input-box i {
        left: 12px;
        font-size: 25px;
        
        
    }
    .input-box input {
        padding: 0 112px 0 50px;
        height:-webkit-fill-available;
        width: -webkit-fill-available;
        font-size: 10px;
    }
    .input-box .button {
        right: 12px;
        font-size: 14px;
        padding: 8px 1px;
    }
    
   
}