.leaflet-control-navbar {
    background-color: white;
    border: 1px solid gray;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.leaflet-control-navbar a {
    background-color: #eee;
    border-bottom: 1px solid white;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: gray;
    cursor: pointer;
}

.leaflet-control-navbar-zoom-in {
    margin: auto;
}

.leaflet-control-navbar-zoom-out {
    margin: auto;
}

.leaflet-control-navbar-geolocation {
    margin: auto;
}

.leaflet-control-navbar-home {
    margin: auto;
}

.leaflet-control-navbar a:hover {
    background-color: #ddd;
}