    .body {
        background-color: #e3dac8;
        color: #e3dac8;
    }
    
    #map {
        height: 500px;
        width: 70%;
        min-width: 30%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid black;
        padding: 30px;
    }
    
    .banner {
        z-index: 1;
        background-color: #ffcc00;
        color: #613318;
        text-align: center;
        padding: 15px;
        width: 100%;
        /* margin: 0 20px 20px;  this was causing the banner issue */
        box-sizing: border-box;
    }
    
    #section {
        width: 100%;
    }
    
    .search {
        background-color: #ffcc00;
        color: #613318;
        text-align: center;
        padding: 20px;
    }
    
    #search-form {
        position: center;
        left: 100px;
    }
    
    #menu {
        position: absolute;
        top: 200px;
        left: 80px;
        width: 200px
    }
    
    #search-button {
        border: none;
        padding: 10px;
        margin: 10px;
        font-size: 14px;
    }
    
    #search-input {
        width: 150px;
        padding: 5px;
        font-size: 14px;
        margin-right: 5px;
    }
    
    .form-pos {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }
    
    #form {
        display: flex;
        justify-content: center;
        margin: 0 20px 20px;
        flex-direction: column;
        color: #613318;
        background-color: #ffcc00;
        padding: 15px;
        top: 500px;
        left: 80px;
        width: 250px;
        border: 2px solid black;
    }
    
    #myButton {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    
    .building-link {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    
    .building-name {
        line-height: 1;
        margin: 0;
        padding: 0
    }
    /* search bar */
    
    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }
    
    .input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }
    
    .input[type=text] {
        background-color: #f1f1f1;
        width: 95%;
    }
    
    .input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
    }
    
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }
    
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }
    
    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }
    
    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }