    .body {
        background-color: #e3dac8;
        color: #e3dac8;
    }
    
    #map {
        height: 600px;
        width: 50%;
        min-width: 30%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid black;
        padding: 30px;
    }
    
    .banner {
        z-index: 1;
        background-color: #ffcc00;
        color: #613318;
        text-align: center;
        padding: 15px;
        width: 100%;
        /* margin: 0 20px 20px;  this was causing the banner issue */
        box-sizing: border-box;
    }
    
    #section {
        width: 100%;
    }
    
    .search {
        background-color: #ffcc00;
        color: #613318;
        text-align: center;
        padding: 20px;
    }
    
    #search-form {
        position: center;
        left: 100px;
    }
    
    #menu {
        position: absolute;
        top: 200px;
        left: 80px;
        width: 200px
    }
    
    #search-button {
        border: none;
        padding: 10px;
        font-size: 14px;
    }
    
    #search-input {
        width: 150px;
        padding: 5px;
        font-size: 14px;
        margin-right: 5px;
    }
    
    #form {
        display: flex;
        justify-content: center;
        margin: 0 20px 20px;
        flex-direction: column;
        color: #613318;
        background-color: #ffcc00;
        padding: 15px;
        top: 500px;
        left: 80px;
        width: 200px;
        border: 2px solid black;
    }
    
    #myButton {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    
    .building-link {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    
    .building-name {
        line-height: 1;
        margin: 0;
        padding: 0
    }
    
    .form-pos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }